$background-color : #171723;
$list-background-color: #24273d;
$list-hover-color: #2f3350;
$list-done-color: #1a1c2d;
$list-done-hover-color: #2c2f4b;
$title-color: #fffeff;
$text-color: #676e93;
$placeholder-color: #393d52;
$border-color: #3a3e53;
$check-mark-color: #7d83b3;
$button-active-color: #3371f6;